.trailer-container {
  display: flex;
  height: 350px; /* Adjust the height as needed */
  gap: 30px;
  margin-bottom: 30px;
}

.video-container {
  flex: 0.6; /* Adjust the flex value to make it 60% width */
}

.video-container iframe {
  width: 100%;
  height: 100%;
}

.black-container {
  flex: 0.4;
  background: rgba(63, 69, 66, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(63, 69, 66, 0.27);
}
